<div class="container">
  <div class="row">
    <img 
      class="img-fluid"
      style="width: 200px; height: 200px;" 
      alt="Angular Logo" 
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    <h3>Built-in Angular Pipes <span class="badge bg-secondary">@angular/cli 12.2.15</span></h3>
    <!-- case pipes -->
    <p class="fw-bold">Casing Pipe</p>
    <p class="fw-normal">{{convertText | uppercase}}, {{convertText | lowercase}}</p>
    <hr>
    <!-- currency pipes -->
    <p class="fw-bold">Currency Pipe</p>
    <p class="fw-normal">{{ itemPrice | currency:'USD':true }}</p>      
    <p class="fw-normal">{{ itemPrice | currency:'EUR':true}}</p>
    <p class="fw-normal">{{ itemPrice | currency:'INR' }}</p>
    <hr>
    <!-- date pipes -->
    <p class="fw-bold">Date Pipe </p>
    <p class="fw-normal">{{ currentDate | date:'fullDate' }}<p>      
    <p class="fw-normal">{{ numDateFormat | date:'medium' }}<p>
    <p class="fw-normal">{{ getYear | date:'yy' }}<p>
    <p class="fw-normal">{{ getTime | date:'Hm' }}<p>
    <hr>
    <!-- custom pipe - wordcount -->
    <p class="fw-bold">Custom Pipe - Word Counter</p>
    <p class="fw-normal">{{ customText }}</p>
    <p class="fw-normal">Word Count: {{ customText | wordcount }}</p>
    <hr>
    <p class="fw-bold">Async Pipe</p>
    <!-- async pipes -->
    <p class="fw-normal">{{asyncPromise | async}}</p>
    <p class="fw-normal">{{asyncObservable | async}}</p>
    <p class="fw-normal">Timer: {{ timer | async }}</p>
    <p class="fw-normal">Colors: {{ colors | async }}</p>
    <!-- async - display badge once resolve is sent from promise -->
    <p class="fw-normal">Build Status 
        <span
          *ngIf="(buildStatus | async) as time"
          class="badge bg-secondary"
          >Completed
        </span>
    </p>
    <!-- async - ngfor loop with string array (of) -->
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let user of users | async">{{user}}
      </li>
    </ul>
    <hr>
</div>
